html,
body {
    display: flex;
    margin: 0px;
    height: 100%;
    min-height: 100%;
    width: auto;
    display: flex;
    min-width: 100%;
    overflow: hidden;
}

#example-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    display: flex;
    width: 100%;
}

#example-schedule,
#example-work-space {
    border: 1px solid #000000;
    display: flex;
    width: 50%;
    overflow-y: auto;
}

.example-time {
    height: 16px;
    width: 48px;
    border: 1px solid #000000;
    text-align: center;
    padding: 2px 0px;
    font-size: 14px;
}
