html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#example-container {
    height: 100%;
    width: 100%;
}

#example-schedule {
    border: 1px solid #000000;
    display: inline-block;
    margin-left: 10px;
    height: calc(100% - 70px);
}

#example-work-space {
    padding: 10px;
}

#example-times {
    float: left;
    height: 100%;
    overflow: hidden;
}

#example-appointments {
    height: 100%;
    width: calc(100vw - 100px);
    float: right;
    position: relative;
    overflow: auto;
}

.example-time {
    height: 20px;
    width: 48px;
    border: 1px solid #000000;
    border-bottom: none;
    border-left: none;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
}

.example-time-first {
    border-top: none !important;
}

.appointment-time {
    height: 20px;
    border-top: 1px solid #000000;
    box-sizing: border-box;
}

.appointment-time-interval {
    height: 20px;
    border-top: 1px dotted #000000;
    box-sizing: border-box;
}

.appointment-time-interval-first {
    border-top: none !important;
}

.example-appointment {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #000000;
    z-index: 5;
    box-sizing: border-box;
    text-align: center;
}
